*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}


body{
background:#f8fafc;
color:#111827;
}



header{
background:#0f172a;
padding:20px;
}



nav{
display:flex;
justify-content:space-between;
align-items:center;
}



nav h2{
color:white;
}



ul{
display:flex;
gap:20px;
list-style:none;
}



a{
color:white;
text-decoration:none;
}



.hero{

background:#2563eb;
color:white;
text-align:center;
padding:100px 20px;

}



.hero h1{

font-size:45px;

}



button{

background:#22c55e;
color:white;
border:none;
padding:12px 30px;
border-radius:25px;
cursor:pointer;
font-size:16px;

}



section{

padding:50px;
text-align:center;

}



.cards{

display:flex;
justify-content:center;
gap:25px;
flex-wrap:wrap;

}



.card{

background:white;
width:260px;
padding:30px;
border-radius:15px;
box-shadow:0 5px 20px #ddd;

}



.trial{

display:none;

}



input,textarea{

display:block;
width:300px;
padding:12px;
margin:15px auto;

}



textarea{

height:100px;

}



footer{

background:#0f172a;
color:white;
padding:20px;
text-align:center;

}



@media(max-width:700px){

.hero h1{

font-size:30px;

}


nav{

flex-direction:column;

}

}
